{% extends "base.html" %}

{% load static %}

{% block title %}
SignUp | Code Turing
{% endblock title %}

{% block description %}
SignUp to Code Turing
{% endblock description %}

{% load crispy_forms_tags %}

{% block header %}
<style>
    body {
        background-image: url(/media/bg1.jpg);
        background-position: center;
    }
</style>
{% endblock header %}

{% block content %}
  <br />
  <div class="container d-flex align-items-center justify-content-center">
    <form method="post">
      {% csrf_token %} {{ form|crispy }}
      <button type="submit" class="btn btn-primary">
        Sign up
      </button>
    </form>
  </div>
  <br />
{% endblock content %}
