{% extends "base.html" %}
{% load static %}

{% block title %}
Profile Update | Code Turing
{% endblock title %}

{% block description %}
User profile update page.
{% endblock description %}

{% load crispy_forms_tags %}
{% block content %}
  <div class="container">
    <br />
    <div class="box">
      <br />
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %} {{ form|crispy }}
        <button type="submit" class="btn btn-primary">
          Update
        </button>
      </form>
    </div>
    <br />
  </div>
{% endblock content %}

{% block code %}
  <script type="text/javascript">
      var bio_textarea = document.getElementById("id_biography");
      bio_textarea.value = "{{ profile.biography|escapejs }}";
  </script>
{% endblock code %}
