{% extends "base.html" %}
{% load static %}
{% block header %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.css"
        rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/monokai.min.css"
        rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/mode/python/python.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/addon/edit/closebrackets.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/addon/edit/matchbrackets.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/addon/selection/active-line.min.js"></script>
  <script src="{% static 'meta.js' %}"></script>
{% endblock header %}
{% block content %}
  <div class="container">
    <div class="container">
      <div class="container">
        <div class="box">
          <h1>{{ question.title }}</h1>
          <p>{{ question.questionHTML|safe }}</p>
          <textarea name="test_case" cols="40" rows="10" id="id_test_case"></textarea>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="button" class="btn btn-primary" id="form_button">Submit</button>
          </form>
          <div id="stdout"></div>
          <div id="stderr" style="color: red"></div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
  var a_editor = new CodeMirror.fromTextArea(
    document.getElementById("id_answer"),
    {
      lineNumbers: true,
      mode: "python",
      theme: "monokai",
      indentUnit: 4,
      indentWithTabs: false,
      lineWrapping: true,
      matchBrackets: true,
      autoCloseBrackets: true,
      styleActiveLine: true,
    }
  );

  var tc_editor = new CodeMirror.fromTextArea(
    document.getElementById("id_test_case"),
    {
      lineNumbers: true,
      mode: "python",
      theme: "monokai",
      indentUnit: 4,
      indentWithTabs: false,
      lineWrapping: true,
      matchBrackets: true,
      autoCloseBrackets: true,
      styleActiveLine: false,
      readOnly: true,
    }
  );

  tc_editor.setValue("{{ question.test_case|escapejs }}");

  {% if answer is None %}
    a_editor.setValue("{{ question.start_snippet|escapejs }}");
  {% else %}
    a_editor.setValue("{{ answer.answer|escapejs }}");
  {% endif %}

  {% if answer is None %}
    var pk = -1;
  {% else %}
    var pk = {{answer.pk }};
  {% endif %}

  var button = document.getElementById("form_button");

  button.addEventListener("click", async function () {
    const answer = a_editor.getValue().replaceAll("\t", "    ");

    const csrftoken = getCookie("csrftoken");

    const response = await fetch("{%  url 'challenge:answer' question.id  %}", {
      method: "POST",
      redirect: 'follow',
      headers: {
        "Content-Type": "application/json",
        "X-CSRFTOKEN": csrftoken,
      },
      body: JSON.stringify({
        answer: answer,
        pk: pk,
      }),
    });

    // console.log(response);

    if (response.status == 200 ) {
      let stdout = document.getElementById("stdout");
      let stderr = document.getElementById("stderr");
      
      let result = await response.json();
      pk = result["pk"];

      console.log(result);

      if (result["code"] == 0) {
        window.location.replace("/answer_view/" + pk);
      }

      stdout.innerText = result["stdout"];
      stderr.innerText = result["stderr"];
    } else {
      stderr.innerText = "Unexpected Error Occurred while communicating with Server."
    }
  });
  </script>
{% endblock content %}
