{% extends "base.html" %}
{% load static %}

{% block title %}
Answering {{ question.title }} | Code Turing
{% endblock title %}

{% block description %}
Submit a solution to the programming challenge {{ question.title }}
{% endblock description %}

{% block header %}
    <link rel="stylesheet"
          data-name="vs/editor/editor.main"
          href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.39.0/min/vs/editor/editor.main.min.css" />
    <script src="{% static 'meta.js' %}"></script>
{% endblock header %}
{% block content %}
    <div class="container-fluid d-flex h-100 flex-column justify-content-evenly">
        <h1>
            {{ question.title }}
        </h1>
        <br />
        <div class="row justify-content-evenly">
            <div class="col" style="min-width: 360px; height: 400px; overflow: auto;">
                {{ question.questionHTML|safe }}
            </div>
            <div class="col" style="min-width: 360px">
                <div style="height: 400px; border: 2px solid black;" id="id_test_case">
                </div>
            </div>
            
        </div>
        <div class="row" style="height: 24px;">
        </div>
        <div class="row justify-content-evenly">
            <div class="col" style="min-width: 360px;" >
                <div style="height: 440px; border: 2px solid black;" id="id_answer">
                </div>
            </div>
            <div class="col" style="min-width: 360px;">
                <div style="height: 440px; padding: 12px; border: 2px solid black; overflow: auto;">
                    <p>
                        <i>Output:</i>
                    </p>
                    <div id="stdout">
                    </div>
                    <div id="stderr" style="color: red;">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="height: 8px;">
        </div>
        <div class="row" style="text-align: right;">
            <div class="col">
                <a class="btn btn-primary" id="button_run">
                    Run
                </a>
            </div>
            <div class="col">
                <a class="btn btn-primary" id="button_submit">
                    Submit
                </a>
            </div>
        </div>
    </div>
    <br />
{% endblock content %}

{% block code %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.39.0/min/vs/loader.min.js"></script>
    <script type="text/javascript">
        require.config({
            paths: {
                'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.39.0/min/vs'
            }
        });

        require(["vs/editor/editor.main"], () => {
            window.tc_editor = monaco.editor.create(document.getElementById('id_test_case'), {
                value: "{{ question.test_case|escapejs }}",
                language: 'python',
                theme: 'vs-light',
                readOnly: true,
            });

            {% if answer is None %}
                window.a_editor = monaco.editor.create(document.getElementById('id_answer'), {
                    value: "{{ question.start_snippet|escapejs }}",
                    language: 'python',
                    theme: 'vs-light',
                });
            {% else %}
                window.a_editor = monaco.editor.create(document.getElementById('id_answer'), {
                    value: "{{ answer.answer|escapejs }}",
                    language: 'python',
                    theme: 'vs-light',
                });
            {% endif %}
        });


        {% if answer is None %}
            var pk = -1;
        {% else %}
            var pk = {{ answer.pk }};
        {% endif %}

        var reload = false;

        async function button_callback() {
            var a_editor = window.a_editor;
            var tc_editor = window.tc_editor;

            const answer = a_editor.getValue();

            const csrftoken = getCookie("csrftoken");

            const response = await fetch("{%  url 'challenge:answer' question.id  %}", {
                method: "POST",
                redirect: 'follow',
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFTOKEN": csrftoken,
                },
                body: JSON.stringify({
                    answer: answer,
                    pk: pk,
                    redirect: reload,
                }),
            });

            // console.log(response);

            if (response.status == 200) {
                let stdout = document.getElementById("stdout");
                let stderr = document.getElementById("stderr");

                let result = await response.json();
                pk = result["pk"];

                stdout.innerText = result["stdout"];
                stderr.innerText = result["stderr"];

                if (result["code"] == 0) {
                    if (reload == true) {
                        window.location.replace("/answer_view/" + pk);
                    } else {
                        stdout.innerText += "\nAll Tests Passed\n";
                    }
                }
            } else {
                stderr.innerText = "Unexpected Error Occurred while communicating with Server."
            }
        }

        var button_submit = document.getElementById("button_submit");
        button_submit.addEventListener("click", async function () {
            document.getElementById("stdout").innerText = "Running ...\n";
            document.getElementById("stderr").innerText = "";
            reload = true;
            await button_callback();
        });
        
        var button_run = document.getElementById("button_run");
        button_run.addEventListener("click", async function () {
            document.getElementById("stdout").innerText = "Running ...\n";
            document.getElementById("stderr").innerText = "";
            reload = false;
            await button_callback();
        });
    </script>
{% endblock code %}
