{% extends "base.html" %}
{% load static %}

{% block title %}
Answers of {{ question.title }} | Code Turing
{% endblock title %}

{% block description %}
All the avaiable solutions to the programming challenge {{ question.title }}
{% endblock description %}

{% block header %}
    <link rel="stylesheet"
          data-name="vs/editor/editor.main"
          href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.39.0/min/vs/editor/editor.main.min.css" />
    <script src="{% static 'meta.js' %}"></script>
{% endblock header %}
{% block content %}
    <div class="container">
        <h1 style="margin: 18px">
            {{ question.title }}
        </h1>
        <div style="font-size: 20px">
            {{ question.questionHTML|safe }}
        </div>
        {% for i in page_obj %}
            <div class="card" style="margin: 12px">
                <div class="card-header">
                    <h4>
                        <a href="{% url 'user:profile' i.user.pk %}"
                           class="a-tag-remove-decoration">
                            <img src="{{ i.user.userprofile.picture.url }}"
                                 alt=""
                                 style="width: 30px;
                                        height: 30px;
                                        margin-left: 10px;
                                        border-radius: 50%" />
                        </a>
                        <a href="{% url 'challenge:answer_view' i.id %}"
                           class="a-tag-remove-decoration">{{ i.user }}'s solution</a>
                    </h4>
                </div>
                <div class="card-body" style="margin: 0px; padding: 0px">
                    <div style="height: 250px;
                                border: 2px solid black"
                         id="textarea_{{ i.id }}">
                    </div>
                </div>
            </div>
        {% endfor %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                    </li>
                {% endif %}
                {% for i in page_range %}
                    {% if i == page_obj.number %}
                        <li class="page-item active">
                            <a class="page-link" href="#">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <br />
{% endblock content %}

{% block code %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.39.0/min/vs/loader.min.js"></script>
    <script type="text/javascript">
        require.config({
            paths: {
                'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.39.0/min/vs'
            }
        });
        {
            {% for i in page_obj %}
        }
        require(["vs/editor/editor.main"], () => {
            monaco.editor.create(document.getElementById("textarea_{{ i.id }}"), {
                value: "{{ i.answer|escapejs }}",
                language: 'python',
                theme: 'vs-light',
                readOnly: true,
            });
        });
        {
            {% endfor %}
        }
    </script>
{% endblock code %}
