{% extends "base.html" %}
{% load static %}
{% block header %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.css"
        rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/monokai.min.css"
        rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/mode/python/python.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/addon/edit/closebrackets.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/addon/edit/matchbrackets.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/addon/selection/active-line.min.js"></script>
  <script src="{% static 'meta.js' %}"></script>
{% endblock header %}
{% block content %}
  <br>
  <h1>Title: {{ question.title }}</h1>
  <br>
  <div class="row">
    <div class="col align-self-start">{{ question.difficulty }}</div>
    <div class="col align-self-end">
      <div class="row">
        <div class="col align-self-start">Attempted: {{ question.users_attempted.count }}</div>
        <div class="col align-self-end">Completed: {{ question.users_completed.count }}</div>
      </div>
    </div>
  </div>
  {% comment %} <p>
    <i>Description:</i>
  </p> {% endcomment %}
  <p>{{ question.questionHTML|safe }}</p>
  <p>
    <i>Test Cases:</i>
  </p>
  <textarea name="test_case" cols="40" rows="10" id="id_test_case"></textarea>
  <br>
  {% if solved %}
    <div class="btn-group" role="group" style="display: flex;">
      <a href="{% url "challenge:answer_view" answer.id %}"
         class="btn btn-outline-primary"
         style="flex: 1">My Solution</a>
      <a href="{% url "challenge:list_answer" question.id %}"
         class="btn btn-outline-primary"
         style="flex: 1">Other Solutions</a>
    </div>
  {% else %}
    <div class="btn-group" role="group" style="display: flex;">
      <a href="{% url "challenge:answer" question.id %}"
         class="btn btn-outline-primary"
         style="flex: 1">Solve</a>
      <a class="btn btn-outline-primary"
         style="flex: 1"
         data-bs-toggle="tooltip"
         data-bs-title="Unlock Other Solutions After Solving The Question"
         disabled>Other Solutions</a>
    </div>
  {% endif %}
  <script type="text/javascript">
  var tc_editor = new CodeMirror.fromTextArea(
      document.getElementById("id_test_case"),
      {
        lineNumbers: true,
        mode: "python",
        theme: "monokai",
        indentUnit: 4,
        indentWithTabs: false,
        lineWrapping: true,
        matchBrackets: true,
        autoCloseBrackets: true,
        styleActiveLine: false,
        readOnly: true,
      }
    );

    tc_editor.setValue("{{ question.test_case|escapejs }}");
  </script>
{% endblock content %}
