{% extends "base.html" %}

{% load static %}

{% block header %}
    <style>
      .card {
        margin-top: 30px;
        box-shadow: 0 6px 10px rgba(223, 218, 218, 0.08), 0 0 6px rgba(255, 255, 255, 0.05);
        transition: .25s transform cubic-bezier(.155,1.105,.295,1.12),.25s box-shadow,.25s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
      }

      .card-red:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(220, 53, 69, 0.426), 0 4px 8px rgba(0, 0, 0, .06);
        border-color: rgba(220, 53, 69, 0.426);
      }

      .card-yellow:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(255, 193, 7, 0.426), 0 4px 8px rgba(0, 0, 0, .06);
        border-color: rgba(255, 193, 7, 0.426);
      }

      .card-green:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(36, 162, 103, 0.426), 0 4px 8px rgba(0, 0, 0, .06);
        border-color: rgba(36, 162, 103, 0.426);
      }

      .card-black:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.426), 0 4px 8px rgba(0, 0, 0, .06);
        border-color: black;
      }
    </style>
{% endblock header %}

{% block content %}
    <div class="container">
        <div class="container" style="padding-top: 18px">
            <div class="row justify-content-between align-items-center">
                <div class="col-4">
                    <h1>
                        <i class="fa-solid fa-code"></i>
                        Challenges
                    </h1>
                </div>
                <div class="col" style="text-align: right;">
                    <a class="btn btn-primary" href="{% url "challenge:new_question" %}">
                        Add <i class="fa-sharp fa-solid fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        {% for i in page_obj %}
            {% if i.difficulty == "EASY" %}
                <div class="card card-green border border-success">
                    <div class="card-header">
                        <div class="row justify-content-between">
                            <div class="col">
                                <div class="card-title">
                                    <a href="{% url 'challenge:question_view' i.id %}"
                                       class="a-tag-remove-decoration">
                                        <h4 style="text-align: left; float: left;">
                                            {{ i.title }}
                                        </h4>
                                    </a>
                                    <h5 style="text-align: right; float: right;">
                                        By <a href="{% url 'user:profile' i.created_by.pk %}"
    class="a-tag-remove-decoration">
                                        <img src="{{ i.created_by.userprofile.picture.url }}"
                                             alt=""
                                             style="width: 30px;
                                                    height: 30px;
                                                    margin-left: 10px;
                                                    margin-right: 10px;
                                                    border-radius: 50%" />
                                    {{ i.created_by }}</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <spam style="color: rgb(25, 135, 84)">
                            <i class="fa-solid fa-circle"></i>
                            </spam>
                            {{ i.difficulty }}
                        </div>
                        <div class="col">
                            <i class="fa-sharp fa-solid fa-check"></i>
                            Attempted: {{ i.users_attempted.all.count }}
                        </div>
                        <div class="col">
                            <spam style="color: green;">
                            <i class="fa-solid fa-check-double"></i>
                            </spam>
                            Completed: {{ i.users_completed.all.count }}
                        </div>
                    </div>
                    <hr />
                    {{ i.questionHTML|safe }}
                </div>
            </div>
        {% elif i.difficulty == "MEDIUM" %}
            <div class="card card-yellow border border-warning">
                <div class="card-header">
                    <div class="row justify-content-between">
                        <div class="col">
                            <div class="card-title">
                                <a href="{% url 'challenge:question_view' i.id %}"
                                   class="a-tag-remove-decoration">
                                    <h4 style="text-align: left; float: left;">
                                        {{ i.title }}
                                    </h4>
                                </a>
                                <h5 style="text-align: right; float: right;">
                                    By <a href="{% url 'user:profile' i.created_by.pk %}"
    class="a-tag-remove-decoration">
                                    <img src="{{ i.created_by.userprofile.picture.url }}"
                                         alt=""
                                         style="width: 30px;
                                                height: 30px;
                                                margin-left: 10px;
                                                margin-right: 10px;
                                                border-radius: 50%" />
                                {{ i.created_by }}</a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <spam style="color: rgb(255, 193, 7)">
                        <i class="fa-solid fa-circle"></i>
                        </spam>
                        {{ i.difficulty }}
                    </div>
                    <div class="col">
                        <i class="fa-sharp fa-solid fa-check"></i>
                        Attempted: {{ i.users_attempted.all.count }}
                    </div>
                    <div class="col">
                        <spam style="color: green;">
                        <i class="fa-solid fa-check-double"></i>
                        </spam>
                        Completed: {{ i.users_completed.all.count }}
                    </div>
                </div>
                <hr />
                {{ i.questionHTML|safe }}
            </div>
        </div>
    {% elif i.difficulty == "HARD" %}
        <div class="card card-red border border-danger">
            <div class="card-header">
                <div class="row justify-content-between">
                    <div class="col">
                        <div class="card-title">
                            <a href="{% url 'challenge:question_view' i.id %}"
                               class="a-tag-remove-decoration">
                                <h4 style="text-align: left; float: left;">
                                    {{ i.title }}
                                </h4>
                            </a>
                            <h5 style="text-align: right; float: right;">
                                By <a href="{% url 'user:profile' i.created_by.pk %}"
    class="a-tag-remove-decoration">
                                <img src="{{ i.created_by.userprofile.picture.url }}"
                                     alt=""
                                     style="width: 30px;
                                            height: 30px;
                                            margin-left: 10px;
                                            margin-right: 10px;
                                            border-radius: 50%" />
                            {{ i.created_by }}</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <spam style="color: rgb(220, 53, 69)">
                    <i class="fa-solid fa-circle"></i>
                    </spam>
                    {{ i.difficulty }}
                </div>
                <div class="col">
                    <i class="fa-sharp fa-solid fa-check"></i>
                    Attempted: {{ i.users_attempted.all.count }}
                </div>
                <div class="col">
                    <spam style="color: green;">
                    <i class="fa-solid fa-check-double"></i>
                    </spam>
                    Completed: {{ i.users_completed.all.count }}
                </div>
            </div>
            <hr />
            {{ i.questionHTML|safe }}
        </div>
    </div>
{% else %}
    <div class="card card-black">
        <div class="card-header">
            <div class="row justify-content-between">
                <div class="col">
                    <div class="card-title">
                        <a href="{% url 'challenge:question_view' i.id %}"
                           class="a-tag-remove-decoration">
                            <h4 style="text-align: left; float: left;">
                                {{ i.title }}
                            </h4>
                        </a>
                        <h5 style="text-align: right; float: right;">
                            By <a href="{% url 'user:profile' i.created_by.pk %}"
    class="a-tag-remove-decoration">
                            <img src="{{ i.created_by.userprofile.picture.url }}"
                                 alt=""
                                 style="width: 30px;
                                        height: 30px;
                                        margin-left: 10px;
                                        margin-right: 10px;
                                        border-radius: 50%" />
                        {{ i.created_by }}</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <i class="fa-solid fa-circle"></i>
                {{ i.difficulty }}
            </div>
            <div class="col">
                <i class="fa-sharp fa-solid fa-check"></i>
                Attempted: {{ i.users_attempted.all.count }}
            </div>
            <div class="col">
                <spam style="color: green;">
                <i class="fa-solid fa-check-double"></i>
                </spam>
                Completed: {{ i.users_completed.all.count }}
            </div>
        </div>
        <hr />
        {{ i.questionHTML|safe }}
    </div>
</div>
{% endif %}
{% endfor %}
<br />
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            </li>
        {% endif %}
        {% for i in page_range %}
            {% if i == page_obj.number %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{ i }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            </li>
        {% endif %}
    </ul>
</nav>
</div>
<br />
{% endblock content %}
