{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1 style="margin: 18px; text-align: center">Challenges</h1>
    {% for i in questions %}
        <div class="card" style="margin: 12px">
            <div class="card-header">
                <div class="row justify-content-between">
                    <div class="col">
                        <a href="{% url 'challenge:question_view' i.id %}"
                           style="text-decoration:none">
                            <h4 class="card-title">{{ i.title }}</h4>
                        </a>
                    </div>

                    {% comment %} FIXME <div class="col align-self-end">
                        By <a href="{% url 'user:profile' i.created_by.pk %}" style="text-decoration:none">
                        <img src="{{ i.created_by.userprofile.picture.url }}" alt="" style="width: 30px; height: 30px; object-fit: contain; margin-left: 10px; margin-right: 10px">
                    {{ i.created_by }}</a>
                    </div> {% endcomment %}
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">{{ i.difficulty }}</div>
                    <div class="col">Attempted: {{ i.users_attempted.all.count }}</div>
                    <div class="col">Completed: {{ i.users_completed.all.count }}</div>
                </div>
                <hr>
                {{ i.questionHTML|safe }}
            </div>
        </div>
    {% endfor %}
{% endblock content %}
